<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Products Page</title>
</head>

<body>
    <div class="jumbotron" style="background-color: lightslategray">
        <div class="container text-center text-white">
            <h1 class="display-3">QUANTON WATCHES</h1>
            <p class="lead">Your time starts now...</p>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-3"><a href="#">Home</a></div>
            <div class="col-12 col-md-3"><a href="#">Products</a></div>
            <div class="col-12 col-md-3"><a href="#">About Us</a></div>
            <div class="col-12 col-md-3"><a href="#">Contact</a></div>
        </div>
        <div class="row text-center py-4">
            <div class="col-12">
                <p class="h5">Our Premium Products</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w8.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analog Black Dial Men's Watch</h5>
                    <p class="card-text">Price : Rs.3985.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analog White Dial Men's Watch</h5>
                    <p class="card-text">Price : Rs.4365.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analog Beige Dial Men's Watch</h5>
                    <p class="card-text">Price : Rs.5620.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analog Black Dial Men's Watch</h5>
                    <p class="card-text">Price : Rs.4710.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Price : Rs.4500.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/w6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Analog Black Dial Men's Watch</h5>
                    <p class="card-text">Price : Rs.5995.00</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12">
                <p>Copyright © 2021 Quanton Watches, Developed by Harshini.</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>